venv-acc/
env/
.venv/

# Python bytecode/cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Translations
*.pot
*.mo

# Editors
*.swp
*.swo
.DS_Store

# Django artifacts
db.sqlite3
*.sqlite3
media/
staticfiles/
static/

# Env and secrets
.env
.env.*

# Node
node_modules/

# Coverage/Test
.pytest_cache/
.coverage*
htmlcov/

# Build
dist/
build/
*.egg-info/

# Tools
bfg-1.15.0.jar